@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredericka+the+Great&family=Monoton&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredericka+the+Great&family=Monoton&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&family=Satisfy&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&family=Risque&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 212vh;
    background:linear-gradient(#b4d2d3,#57b8bc,#259faf,#152636,#044553);
    font-family: 'Acme', sans-serif;
}
.container0{
    display: flex;
    justify-content: space-between;
    align-items: center;        
}
/*<------------------------------------------------------------------->*/
/* Nav bar start */
.logo{
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    animation: rotating 8s linear infinite;               
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.pt-title{
    position: relative;
    right: 5px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    margin-top: 5px;
    color: black;
}
.menu-area{
    position: relative;
    left: 30px;
}
.wrapper{
    width: 1000px;
    margin: 1% auto; 
}
.menu-area a{
    display: flex;    
    align-items: center;
    justify-content: center;
    color:white ;
    height: 60px;
    font-family: 'Risque', cursive;
    font-weight: 900;
    text-decoration: none;        
}
.menu-area ul{
    display: flex;
    list-style: none;
    padding-top: 15px;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}
.menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
}
.menu-area a:hover{
    color: aquamarine;
}
.menu-area li:hover .submenu > li{
    display: block;
    top: 0;
}
.submenu li{
    display: none;
    position: relative;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cont{
    position: relative;
    left: 70px;
    width: 200px;
    font-family: 'Risque', cursive;
    padding: 10px;
    border: none;
    color:black;
    font-size: 25px;
    cursor: pointer;
    background-color:rgba(234, 241, 241, 0.5);
    border-radius: 20px;
    opacity:0.9;
}
.cont:hover{
    animation: swing 0.5s ease-out;
}
@keyframes swing{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* Nav bar end */
h1{
    display: flex;
    justify-content: center;
    color: #000;
    position: relative;
    top: 220px;
    font-size: 800;
    letter-spacing: 1.5em;
    transform: skew(10deg);
    text-shadow: -3px 3px 8px whitesmoke;
} 
.container1{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
}
.container2{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
}
.container3{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
}
.card {
    flex: 1;
    height: 50vh;
    position: relative;
    transition: all 1s ease-in-out;
}
button{
    color:white;
    background-color:black;
    transition: all 0.5s ease-in-out;
    min-width: 60%;
    position: absolute;
    bottom:0%;
    left: 20%;
    font-size: 20px;
    white-space: wrap;
    border-radius:30px;    
}  
.card:hover{
flex-grow: 10;
}
img:hover{
    filter: grayscale(0%);
}    
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}
:not(:nth-child(5)) {
    margin-right: 1em;
}


  